/* Cards.css - Caracterosticas de cards compartilhada */
.card {
  position: relative; /* Posicionamento relativo para os botões de rolagem */
}

.cards-container {
  display: flex;
  overflow-x: hidden; /* Esconde a barra de rolagem */
  scroll-behavior: smooth;
  justify-content: flex-start; /* Alinhamento inicial à esquerda */
  gap: 20px;
  margin: 40px 0;
}

.card {
  flex: 0 0 calc(33.33% - 20px); /* flex-grow: 0, flex-shrink: 0 para manter a largura */
  height: auto;
  background-size: cover;
  background-position: center;
  border: 2px solid #ddd;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
  margin-top: 0;
  font-size: 1.5em;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Botões de rolagem */
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ddd;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

/* Estilização para modo escuro */
.dark-mode .card {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #1a1a1a;
  color: #fff;
}

/* Responsividade */
@media (max-width: 1024px) {
  .cards-container {
    flex-wrap: nowrap; /* Impede que os cards se enrolem */
  }

  .card {
    flex: 0 0 90vw; /* Ajusta a largura dos cards para a viewport */
  }
}
