.news-preview {
  position: relative;
  padding: 20px;
  height: 80vh; /* Altura total da sessão */
}

.news-preview h2 {
  font-size: 4vh;
  text-align: center;
  margin-bottom: 2vh;
}

.cards-container {
  display: flex;
  justify-content:left;
  align-items: center;
  overflow-x: auto; /* Permite rolagem horizontal */
  height: 70vh; /* Altura para os cards */
  white-space: nowrap; /* Impede que os cards quebrem linha */
}

.news-card {
  flex: 0 0 auto;
  height: 60vh; /* Altura dos cards */
  width: auto; /* Largura dos cards */
  margin: 20px; /* Aumenta o espaço entre os cards */
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.news-card h3 {
  font-size: 2vh;
}

.news-card p {
  font-size: 1.5vh;
}

.news-card a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
}

.scroll-buttonn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
}

.scroll-buttonn.left {
  left: 10px;
}

.scroll-buttonn.right {
  right: 10px;
}

/* Adaptações para telas menores */
@media (max-width: 768px) {
  .news-card {
    width: 50vw; /* Ajuste para telas menores */
  }
}
