/* ServicePreview.css */

.service-container {
  width: 100%; /* Largura total */
  padding: 20px; /* Espaçamento interno */
  overflow-x: hidden; /* Esconde overflow horizontal */
  display: flex;
  justify-content: center;
}

.service-item {
  background-size: cover; /* Imagem de fundo cobre todo o espaço */
  background-position: center; /* Centraliza imagem de fundo */
  width: calc(30% - 20px); /* Largura do card ajustada com espaçamento */
  height: calc((30% - 20px) * 4 / 3); /* Altura para manter proporção de 4:3 */
  margin-right: 20px; /* Espaçamento entre cards */
  display: flex; /* Flexbox para alinhamento interno */
  flex-direction: column; /* Itens internos organizados verticalmente */
  align-items: flex-start; /* Alinha itens internos à esquerda */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombreamento */
  color: rgba(217, 54, 54, 0.8); /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
}

.service-item h3, .service-item p, .service-item a {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .service-item {
    width: 80vw; /* Ajusta largura para viewport */
    height: calc(80vw * 4 / 3); /* Ajusta altura para manter proporção */
  }
}

.dark-mode .service-container {
  background-color: #343a40; /* Cor de fundo para modo noturno */
}

.dark-mode .service-item {
  background-color: #495057; /* Cor de fundo dos cards para modo noturno */
  color: #f8f9fa; /* Cor do texto para modo noturno */
}
