.service-preview {
  height: 60vh;
  text-align: center;
  /* Resto do seu CSS */
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.card {
  background-size: cover;
  background-position: center;
  width: 30vw; /* Largura relativa à largura da tela */
  height: 40vh; /* Altura relativa à altura da tela */
  padding: 2vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Garante que o link fique no rodapé */
  border: 1px solid #ccc; /* Borda no modo claro */
  background-color: #f8f8f8; /* Fundo diferenciado no modo claro */
}

.card h3 {
  font-size: 2vh;
}

.card p {
  font-size: 1.5vh;
}

.card a {
  align-self: flex-end; /* Alinha o link à direita no rodapé */
  color: var(--link-color);
}

/* Estilo para telas pequenas */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }

  .card {
    width: 80vw;
    margin-bottom: 4vh;
  }
}

/* Estilo para o modo escuro */
.dark-mode .service-preview {
  background-color: #333;
  color: #fff;
}

.dark-mode .card {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo claro opaco */
  border: none; /* Remove a borda no modo escuro */
}

/* Outros estilos conforme necessário */
